* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkcyan;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.section {
    height: 500px;
    width: 600px;
    
}

.col {
    background-color: #fff;
    width: 100%;
    /*height: 200px;*/
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0px 5px 15px black;
}

.box {
    display: inline;
    padding: 0 5px;
}

.first {
    border-right: 2px solid #40576d33;
}

input[type=number]
{
   outline: none;
   border: none;
   width: 50px;
   color: #131c35;
   font-size: 24px;
   padding: 10px 0px;
   margin-left: 10px;
}

.second {
    border-right: 2px solid #40576d33;
}

button {
    border: none;
    color: #131c35;
    font-size: 20px;
    font-weight: 300;
    background: transparent;
    padding: 10px 16px;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}

button:hover {
    background: #a0a1e9;
}

button:active {
    background-color: #73b1e333;
    color: rgb(32, 7, 141);
}

.third {
    border-right: 2px solid #40576d33;
}

.third button:focus {
    background-color: #73b1e333;
    color: rgb(32, 7, 141);
}

input[type=color]
{
    width: 35px;
    outline: none;
    border: none;
    background: none;
}

textarea {
    width: 100%;
    height: 350px;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    resize: vertical;
}